/* shared style  */
*{margin: 0;
padding: 0;}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
   background-color: #FF900E;
   color: #FFFFFF;
   border: none;
   font-weight: 600;
   font-size: 1.2rem;
   padding: 20px 25px ;
   border-radius: 8px;
   margin-top: 18px;
   margin-bottom: 20px;
      
}
.btn-primary:hover{
   background-color: #00000041;
   color: white;
   
}


img{
   width: 100%;
   /* padding: 8px; */
}
.primary-bg-color{
   background-color: rgba(255, 144, 14, 0.1)  ;
}
.secondary-bg-color{
   color:#FFF4E7;
}



.text-dark{
   color: #131313 ; 
}
.text-gray{
    color:#424242;
}
.text-light-gray{
   color: #727272 ;
}
.primary-color{
   color: #FF900E;
}
.secondary-color{
   color: #FFFFFF;
}


.flex{
    display: flex;
}

 /* header style  */
 .navbar{
    /* background-color: rgba(160, 94, 94, 0.377); */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* margin:50px 240px auto 660px; */
 }

 .nav-links{
   /* background-color: rgba(137, 43, 226, 0.253); */
   /* padding: 0; */
 }

  .nav-item{
    list-style-type:none; 
    /* color: #424242; */
    font-size: 1rem;
    font-weight: 500;
   margin-right: 40px;
    /* display: flex; */
   
  }

 .brand{
    font-size: 2.8rem;
    font-weight: bold;
 }


 .nav-link{
    text-decoration: none;
 }
 .navbar, .banner, .features-container{
    max-width: 1140px;
    margin: 0 auto 5px;
 }

 /* banner styles */
 .banner{
   /* background-color: rgba(0, 255, 255, 0.295); */
   text-align: center;   

 }
 .banner-items{
   /* justify-content: center ; */
   
   
 }
 .banner-title{
   font-size: 4rem;
   font-weight: bold;
   max-width: 865px;
   margin: 0 auto;
 }
.banner-text{
   font-size: 1rem;
   font-weight: 500;
   max-width: 868px;
   margin: 0 auto;
}

/* main section styles */
.features-container {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 85px auto;
    max-width: 1140px;
    /* margin-left: 40px; */
    gap:74px;
   
}

.features-images {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
}

.features-text-container {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    max-width: 537px;
    text-align: start;
}
.features-text-title{
   font-size: 2.5rem;
   margin: 0 auto;
}

.features-text{
   max-width: 537px;
   font-weight: 400;
}
.features-btn{
   width: fit-content;

}
 
